body {
  text-align: center;
  background-color: rgba(240, 240, 14, 0.3);
}
.skins__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.list__item {
  width: 120px;
  list-style-type: none;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.list__image {
  background-color: rgb(118, 118, 248);
  border-radius: 15px;
}
.list__image:hover {
  cursor: pointer;
  background-color: rgb(171, 171, 241);
}
.show__result {
  font-size: 24px;
  padding-top: 20px;
  margin: 0;
}
